.header {
    background: #ffffff;
}

.header__inner {
    margin: 0 auto;
    padding: 0 auto;
    max-width: 1512px;
    max-height: 100px;
}

.header__logo {
    color: #8B7969;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.contact-form__content {
    margin: 0 auto;
    padding: 0 auto;
    max-width: 121px;
    max-height: 46px;
}

.contact-form__heading {
    margin-bottom: 35px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 97%;
    height: 61%;
    text-align: center;
}

.confirm-table {
    border: 1px solid #8B7969;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    width: 20%;
    border-bottom: 1px solid #8B7969;
    background-color: #8B7969;
    font-weight: bold;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #8B7969;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 972px;
    height: 606px;
    border: none;
    border-radius: px;
    background: #ffffff;
    color: #8B7969;
    cursor: pointer;
}