.header {
    background: #ffffff;
}

.header__inner {
    margin: 0 auto;
    padding: 0 auto;
    max-width: 1512px;
    max-height: 100px;
}

.header__logo {
    color: #8B7969;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    text-align: center;

}

.contact-form__content {
    margin: 0 auto;
    padding: 0 auto;
    max-width: 121px;
    max-height: 46px;
}

.contact-form__heading {
    margin-bottom: 35px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 97%;
    height: 61%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form__label--required {
    margin-left: 26px;
    padding: 18px 18px;
    border-radius: 38px;
    background: #ffffff;
    color: #8B7969;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: seater;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    width: 972px;
    height: 606px;
    border: 1px solid #8B7969;
    border-radius: 1px;

    appearance: none;
}

.form__input--text input {
    height: 40px;
}

.form__input--textarea textarea {
    height: 180px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 972px;
    height: 606px;
    border: none;
    border-radius: px;
    background: #ffffff;
    color: #8B7969;
    cursor: pointer;
}
